h1, h2{
    font-weight: bold;
    color: blueviolet;
    background-color: aquamarine;
    text-align: center;
}
h1{
    font-size: xx-large;
}
h2{
    font-size: large;
}
.recipe{
    font-size: larger;
    color: blueviolet;
}
img{
    height: auto;
    width: 500px;
}
.Description{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.ingredients, .steps{
    font-size: 18px;
}
.ingredients{
    color: blueviolet;
}
.steps{
    color: red;
}